/* 
{} -> reset
body

<----header--->
header
header div#filter
header img#logo
header h1
header button
header button:hover

<----main--->
main
main section
main section div.title
main section div.title h2.subtitle 
main section div.title p.descriptionSub

main section div.content
main section div.content div.column

h2.imgTitle
p.imgDescription 

main section div.content div#nature
main section div.content div#nature:hover 

main section div.content div#daily
main section div.content div#daily:hover

main section div.content div#together
main section div.content div#together:hover

main section div.content div#analysis
main section div.content div#analysis:hover

main section div.content div#picture
main section div.content div#picture:hover 

<------Footer---->

footer

footer div.titleFooter
footer div.titleFooter h2.subtitleFooter
footer div.titleFooter p.descriptionSubFooter

footer div#footerContainer
footer div#footerContainer div.bar

footer div#footerContainer div.footerPrice
footer div#footerContainer div.footerPrice:hover  

footer div#footerContainer div.bar div.footerDescription
footer div#footerContainer div.bar div.footerDescription:hover 

footer div#footerContainer div.bar div#firstDescription 
footer div#footerContainer div.bar div#secondDescription 
footer div#footerContainer div.bar div#thirdDescription 
footer div#footerContainer div.bar div#fourthDescription
footer div#footerContainer div.bar div#fifthDescription 
footer div#footerContainer div div#fifthDescription 
*/

@font-face {
  font-family: Poppins-Medium;
  src: url("./font/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins-Light;
  src: url("/font/Poppins-Light.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
}

body {
  width: 100vw;
  max-width: 100%;
}

/* HEADER */

header {
  width: 100%;
  height: 85vh;
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: 105%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
}

header div#filter {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(103, 185, 241, 0.5);
  z-index: 2;
}

header img#logo {
  height: 18%;
  margin: 70px;
  filter: invert(100%);
  z-index: 3;
}

header h1 {
  font-family: Poppins-Light;
  width: 50%;
  text-align: center;
  line-height: 120%;
  margin-top: 10px;
  font-size: 5em;
  z-index: 3;
}

header button {
  font-family: Poppins-Medium;
  font-weight: bold;
  font-size: 1.5em;
  width: 20%;
  height: 8%;
  margin-top: 70px;
  background: black;
  color: #a9adb4;
  z-index: 3;
}

button:hover {
  cursor: pointer;
  background: #a9adb4;
  color: #000000;
}

/* MAIN */

main {
  width: 100%;
  height: 200vh;
}

main section {
  width: 100%;
  height: 100%;
  background: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main section div.title {
  width: 85%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section div.title h2.subtitle {
  font-family: Poppins-Medium;
  font-weight: bold;
  font-size: 4em;
  color: #c0c0c0;
}

main section div.title p.descriptionSub {
  font-family: Poppins-Medium;
  font-weight: bold;
  font-size: 1.5em;
  color: #c0c0c0;
}

main section div.content {
  width: 85%;
  height: 160%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section div.content div.column {
  width: 100%;
  height: 25%;
  margin: 1.25% 0 1.25% 0;
  display: flex;
}

h2.imgTitle {
  font-family: Poppins-Medium;
  color: whitesmoke;
  font-size: 4em;
}

p.imgDescription {
  font-family: Poppins-Medium;
  color: whitesmoke;
  font-size: 2em;
}

main section div.content div#nature {
  width: 27.5%;
  height: 100%;
  padding: 20px;
  background-image: url("./img/nature.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  filter: invert(100%);
}

main section div.content div#nature:hover {
  cursor: pointer;
  filter: invert(0%);
}

main section div.content div#daily {
  width: 70%;
  height: 100%;
  margin-left: 2.5%;
  padding: 20px;
  background-image: url("./img/daily.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -100px;
  filter: invert(100%);
}

main section div.content div#daily:hover {
  cursor: pointer;
  filter: invert(0%);
}

main section div.content div#together {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-image: url("./img/war.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  filter: invert(100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section div.content div#together:hover {
  cursor: pointer;
  filter: invert(0%);
}

main section div.content div#analysis {
  width: 70%;
  height: 100%;
  padding: 20px;
  background-image: url("./img/car.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -100px;
  filter: invert(100%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main section div.content div#analysis:hover {
  cursor: pointer;
  filter: invert(0%);
}

main section div.content div#picture {
  width: 27.5%;
  height: 100%;
  padding: 20px;
  margin-left: 2.5%;
  background-image: url("./img/picture.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: -150px;
  filter: invert(100%);
}

main section div.content div#picture:hover {
  cursor: pointer;
  filter: invert(0%);
}

/* RODAPÉ */
footer {
  width: 100%;
  height: 90vh;
  background: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

div.titleFooter {
  width: 85%;
  height: 20%;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

h2.subtitleFooter {
  font-family: Poppins-Medium;
  font-weight: bold;
  font-size: 4em;
  color: #c0c0c0;
}

p.descriptionSubFooter {
  font-family: Poppins-Medium;
  font-weight: bold;
  font-size: 1.5em;
  color: #c0c0c0;
}

footer div#footerContainer {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

footer div#footerContainer div.bar {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

footer div#footerContainer div.footerPrice {
  width: 85%;
  height: 22.5%;
  background: #72bef2;
  color: rgb(21, 23, 26);
  font-family: Poppins-Medium;
  font-weight: bold;
  line-height: 1.5em;
  padding: 20px;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

footer div#footerContainer div.footerPrice:hover {
  cursor: pointer;
  filter: invert(100%);
}

footer div#footerContainer div.bar div.footerDescription {
  width: 85%;
  background: #259ff2;
  color: rgb(21, 23, 26);
  font-family: Poppins-Medium;
  line-height: 1.2em;
  padding: 20px;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

footer div#footerContainer div.bar div.footerDescription:hover {
  cursor: pointer;
  filter: invert(100%);
}

footer div#footerContainer div.bar div#firstDescription {
  height: 15%;
}

footer div#footerContainer div.bar div#secondDescription {
  height: 25%;
}

footer div#footerContainer div.bar div#thirdDescription {
  height: 35%;
}

footer div#footerContainer div.bar div#fourthDescription {
  height: 45%;
}

footer div#footerContainer div.bar div#fifthDescription {
  height: 55%;
}

footer div#footerContainer div.bar div#sixthDescription {
  height: 65%;
}

@media screen and (max-width: 1440px) {
  header h1 {
    width: 85%;
  }
  main section div.content div#daily {
    background-size: 120%;
  }

  footer div#footerContainer div.footerPrice {
    font-size: 1.4em;
  }

  footer div#footerContainer div.bar div.footerDescription {
    padding: 12px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1024px) {
  header {
    background-size: 125%;
    background-position-y: -80px;
  }

  h2.imgTitle {
    font-family: Poppins-Medium;
    color: whitesmoke;
    font-size: 3em;
  }

  main section div.content div#nature {
    background-size: 300%;
  }

  main section div.content div#daily {
    background-size: 170%;
    background-position-x: -100px;
  }

  main section div.content div#together {
    background-size: 150%;
  }

  main section div.content div#analysis {
    background-size: 150%;
    background-position-x: -100px;
  }

  main section div.content div#picture {
    background-size: 300%;
    background-position-x: -250px;
    filter: invert(100%);
  }

  footer div#footerContainer div.footerPrice {
    font-size: 1.2em;
  }

  footer div#footerContainer div.bar div.footerDescription {
    padding: 12px;
    font-size: 0.7em;
  }
}

@media screen and (max-width: 768px) {
  header {
    background-size: 150%;
    background-position-y: 0px;
  }

  header h1 {
    width: 70%;
    font-size: 3em;
  }

  header button {
    width: 50%;
    margin: 30px;
  }

  h2.imgTitle {
    font-size: 2em;
  }

  p.imgDescription {
    font-size: 1em;
  }

  main section div.content div#nature {
    background-size: 370%;
  }

  main section div.content div#daily {
    background-size: 210%;
    background-position-x: -200px;
  }

  main section div.content div#together {
    background-size: 180%;
  }

  main section div.content div#analysis {
    background-size: 250%;
    background-position-x: -100px;
  }

  main section div.content div#picture {
    background-size: 400%;
    background-position-x: -280px;
  }

  footer div#footerContainer div.footerPrice {
    width: 90%;
  }

  footer div#footerContainer div.bar div.footerDescription {
    width: 90%;
    font-size: 0.6em;
  }
}

@media screen and (max-width: 425px) {
  header {
    background-size: 265%;
  }
  header img#logo {
    width: 120px;
    height: 100px;
    margin: 130px 0 40px 0;
  }

  header h1 {
    width: 80%;
    font-size: 2em;
  }

  header button {
    width: 50%;
    height: 8%;

    font-size: 1em;
    margin-top: 20px;
  }

  main section div.title {
    margin: 50px;
    text-align: center;
  }

  main section div.content {
    margin: 50px;
  }

  h2.imgTitle {
    font-family: Poppins-Medium;
    color: whitesmoke;
    font-size: 1.5em;
  }

  p.imgDescription {
    font-family: Poppins-Medium;
    color: whitesmoke;
    font-size: 0.7em;
  }

  main section div.title h2.subtitle {
    font-size: 2em;
  }

  main section div.title p.descriptionSub {
    font-size: 1em;
  }

  main section div.content div#nature {
    width: 37.5%;
    background-size: 500%;
  }

  main section div.content div#daily {
    width: 60%;
    background-size: 500%;
    background-position-x: -200px;
  }

  main section div.content div#together {
    background-size: 350%;
  }

  main section div.content div#analysis {
    width: 60%;
    background-size: 400%;
    background-position-x: -250px;
  }

  main section div.content div#picture {
    width: 37.5%;
    background-size: 500%;
    background-position-x: -300px;
  }

  div.titleFooter {
    font-size: 0.7em;
    text-align: center;
    margin-top: 20px;
  }

  footer div#footerContainer div.footerPrice {
    height: 15%;
    line-height: 1.3em;
    padding: 5px;
    font-size: 0.7em;
    text-align: center;
  }

  footer div#footerContainer div.bar div.footerDescription {
    width: 90%;
    padding: 5px;
    font-size: 0.4em;
  }

  footer div#footerContainer div.bar div#firstDescription {
    height: 17.5%;
  }

  footer div#footerContainer div.bar div#secondDescription {
    height: 22.5%;
  }

  footer div#footerContainer div.bar div#thirdDescription {
    height: 27.5%;
  }

  footer div#footerContainer div.bar div#fourthDescription {
    height: 35%;
  }

  footer div#footerContainer div.bar div#fifthDescription {
    height: 42.5%;
  }

  footer div#footerContainer div.bar div#sixthDescription {
    height: 50%;
  }
}

@media screen and (max-width: 375px) {
  header {
    background-size: 350%;
  }

  header h1 {
    width: 80%;
    font-size: 1.5em;
  }

  main section div.content div#nature {
    width: 42.5%;
    background-size: 600%;
    text-align: center;
  }

  main section div.content div#daily {
    width: 55%;
    background-size: 650%;
    background-position-x: -200px;
  }

  main section div.content div#together {
    background-size: 450%;
  }

  main section div.content div#analysis {
    width: 55%;
    background-size: 600%;
    background-position-x: -250px;
  }

  main section div.content div#picture {
    width: 42.5%;
    background-size: 600%;
    background-position-x: -350px;
  }

  div.titleFooter {
    font-size: 0.5em;
  }

  footer div#footerContainer div.footerPrice {
    text-align: center;
    font-size: 0.5em;
  }
}
